/*Reset*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: auto;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
li {
  list-style: none;
}

html {
  min-width: 320px;
}

body {
  background-color: rgba(197, 194, 194, 0.658);
}

.task__wrapper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.task__header {
  border-bottom: black 2px solid;
}

.header__title {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
}
.header__title-photo {
  width: 300px;
  height: auto;
  padding-top: 75px;
}
.header__title-photo-image {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 7px 12px 10px -6px rgba(34, 60, 80, 0.6);
          box-shadow: 7px 12px 10px -6px rgba(34, 60, 80, 0.6);
}
.header__title-content {
  height: 500px;
  width: 100%;
  margin-left: 50px;
  text-align: center;
  padding-top: 75px;
  font-size: 64px;
  font-family: "PlayfairDisplay";
}

.content__biograpgy {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}
.content__facebook {
  padding-top: 20px;
}
.content__condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 300px;
}

.condition__item {
  min-height: 20px;
  font-family: "Poppins-Italic";
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 120%;
}
.condition__item::before {
  display: inline-block;
  width: 7px;
  height: 7px;
  position: relative;
  bottom: 4px;
  border-radius: 50%;
  border: 1px solid #817f7f;
  content: "";
  margin-right: 7px;
}
.condition__items-table-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 100px 0px 100px;
  grid-template-rows: 100px 100px;
  gap: 0px 0px;
  border: 1px solid #000;
  -ms-grid-column-align: center;
      justify-self: center;
}
.condition__items-table-grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.condition__items-table-grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.condition__items-table-grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.condition__items-table-grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.condition__items-table-grid > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}
.condition__items-table-grid > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}
.condition__items-table-grid > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}
.condition__items-table-grid > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.condition__items-table-grid > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.condition__items-table-grid > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.condition__items-table-grid > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.condition__items-table-grid > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}
.condition__items-table-grid > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}
.condition__items-table-grid > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;
}
.condition__item-table {
  padding-top: 15px;
  text-align: center;
  font-size: 24px;
  font-family: "Montserrat";
  border: 1px solid #000;
}

.footer {
  min-height: 100px;
  width: 100%;
  background-color: none;
}
.footer__content {
  text-align: center;
  padding-top: 50px;
  font-size: 24px;
}

#company {
  font-family: "Montserrat-Bold";
}

h2 {
  margin: 0px 0px 15px 0px;
  font-size: 36px;
  font-family: "Montserrat-Bold";
}

p {
  margin: 15px 0px;
  font-family: "Poppins-Italic";
  font-size: 20px;
}

a {
  text-decoration: underline;
  color: #1e2537;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
a:hover {
  text-decoration: none;
  color: black;
  font-size: 48px;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(../fonts/Montserrat-ExtraLight.ttf);
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "PlayfairDisplay";
  src: local("PlayfairDisplay"), url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: "Poppins-Italic";
  src: url(../fonts/Poppins-LightItalic.ttf);
}
.task-container {
  width: 90%;
  margin: 50px 5%;
  background-color: white;
  -webkit-box-shadow: 7px 12px 10px -6px rgba(34, 60, 80, 0.6);
  box-shadow: 7px 12px 10px -6px rgba(34, 60, 80, 0.6);
}

.task-wrap-content {
  width: 80%;
  margin: 15px 10%;
}